/* stylesheet for LaTasha Hussey's Portfolio */

/*  -------- Color Pallette ------------

#F8FFF4: cream | used for main headings and most paragraphs
#3A3042: dark purple | used for area backgrounds, main header background, and paragraphs
#846193: light purple | used for area backgrounds, buttons, and paragraphs
#E75A7C: deep pink | used for rollovers and accents
#17BEBB: turquoise | used for area backgrounds and accents

*/

/* -------- Fonts ---------------------

Bebas Neue:  display font | used for headings and nav
Questrial:   sans-serif font | used for paragraphs
Black Jack:  script font | used for brand name

*/
@font-face {
	font-family: 'Questrial';
	src: url('../font/Questrial-Regular.eot');
	src: url('../font/Questrial-Regular.eot?#iefix') format('embedded-opentype'),
		url('../font/Questrial-Regular.woff2') format('woff2'),
		url('../font/Questrial-Regular.woff') format('woff'),
		url('../font/Questrial-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Black Jack';
	src: url('../font/BlackJack.eot');
	src: url('../font/BlackJack.eot?#iefix') format('embedded-opentype'),
		url('../font/BlackJack.woff2') format('woff2'),
		url('../font/BlackJack.woff') format('woff'),
		url('../font/BlackJack.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('../font/BebasNeue.eot');
	src: url('../font/BebasNeue.eot?#iefix') format('embedded-opentype'),
		url('../font/BebasNeue.woff2') format('woff2'),
		url('../font/BebasNeue.woff') format('woff'),
		url('../font/BebasNeue.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


/*---------- Table of Contents----------

- Base Styles
- Sections
    - Header
    - Hero
    - Skills
    - Work
    - Contact

*/

/***** BASE STYLES *****/



body {
    color: #f8fff4;
    font-family: "Questrial", sans-serif;
}

section {
  padding: 20px 0;
}

div {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 48px;
}

h3 {
  font-family: "Questrial", sans-serif;
}

a, a:hover {
  color: #f8fff4;
}

a:hover {
  text-decoration: underline;
}
.greeting {
  color: #e75a7c;
}

/***** SECTIONS *****/

/*-----Header----*/

header {
  background: #3a3042;
  padding: 20px 0;
}

header img {
  border: 6px solid #3a3042;
  border-radius: 70px;
}

h1 {
  font-family: "Blackjack", cursive;
  font-size: 45px;
  padding-left: 5px;
}
header h3 {
  font-size: 16px;
}

nav {

  padding-top: 30px;
}

nav ul li {
  display: inline;
  list-style-type: none;
  padding: 25px;
}

/*-----Hero----*/
#hero {
  background: url('../img/glasses-coffee-desk.jpeg');
  background-size: cover;
}

#hero p {
  color: #f8fff4;
  font-size: 48px;
  padding: 20px;
}

/*-----Skills----*/
#skills {
  background-color: #3a3042;
}
.skill-icon {
  font-size: 85px;
  padding-top: 5px;
}

/*-----Featured Work----*/
#work {
  background-color: #846193;
}
#work img {
  border: 3px #f8fff4 solid;
  border-radius: 15px;
}

#work h3 {
  font-size: 24px;
  padding-top: 10px;
}

/*-----Footer----*/
footer {
  background: #3a3042;
  border-top: 1px solid #3a3042;
  padding: 20px;
}

footer a{
  padding: 10px;
}
